.app-background {
  background-color: #C0B7B1; /* Change this to your desired background color */
  min-height: 100vh; /* Ensure the background covers the full height of the viewport */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Ensure the content area grows to fill the available space */
}


.landingPage {
  font-family: Arial, sans-serif;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.landingPage main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPage main div {
  text-align: center;
}

.landingPage main h2 {
  color: #1e3a8a;
}

 p {
  color: #4b5563;
}

.landingPage main button {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #e0f2fe;
}