/* General styles */
html, body, #root {
  height: 100%; /* Make sure these elements take up the full viewport height */
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.content {
  flex: 3; /* This makes the content section grow to fill available space */
}

.landingPage {
  font-family: Arial, sans-serif;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.landingPage main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPage main div {
  text-align: center;
}

.landingPage main h2 {
  color: #1e3a8a;
}

 p {
  color: #4b5563;
}

.landingPage main button {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #e0f2fe;
}